<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cId" class="com.eb.model.Course">
        <constructor-arg type="int" value="5"/>
        <constructor-arg type="java.lang.String" value="Atul"/>
    </bean>

</beans>
